:root{
  --mainblue:#2a2a72;
  --lightblue:#009ffd;
  --mainwhite:#f3f3f3;
  --maindark:#232528;
  --mainyellow:#ffa400;

}
body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important; 
  background: var(--mainwhite) !important;
  color:var(--maindark) !important;
  
}
.row{
  background-color: #f3f3f3;
}
.text-title{
  font-family:'Segoe UI',' Tahoma, Geneva, Verdana, sans-serif';
  background-color: #f3f3f3;
  letter-spacing: 0.2rem;
}

.text-blue{
  color:var(--mainblue);
}
.text-bright{
  color:var(--lightblue);
}

